.GameDetails{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background: #191919;
    border-radius: 1em;



    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

  

}

.GameDetails__image{

    margin: 2em;

}
.GameDetails__title{

   margin: 0 2em;

}

.GameDetails__screenshots{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.GameDetails__screenshots > img{

    width: 300px;
    margin: 1em 1em;
    border-radius: .5em;
    filter: brightness(.8);
    cursor: pointer;
    transition: all .3s ease-in-out;

}

.GameDetails__screenshots > img:hover{

    transform: scale(1.05);
    filter: brightness(1);

}

.GameDetails__desc{

    margin: 2em;


}

.GameDetails__li{

    font-weight: 200;
    margin: 2em 0;
    list-style: none;

   


}

.GameDetails__li > a{

    color: #fff;

}

.GameDetails__li > span{

    font-weight: 100;

}



.GameDetails__btn{

    align-self: flex-start;

    margin: .5em 1em;
    border: none;
    background: #000;
    border-radius: 50%;

    transition: all .3s ease-in-out;
    

}

.GameDetails__btn:hover{

    transform: scale(1.1);
    background: #fff;

}


.GameDetails__btn > button{

    background: none;
    border: none;
    height: 50px;
    width: 50px;

}
.GameDetails__zoom{

    width: 20%;
    display: flex;
    justify-content: center;
    z-index: 1;
    margin: 1em;

}
.GameDetails__zoom > img{

    width: 800px;

}

